.wrapper {
  overflow: clip;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.26;
  color: #4F4F4F;
}

.header {
  padding: 20px 50px;
}

.logo::before {
  content: "";
  height: 44px;
  width: 44px;
  vertical-align: middle;
  margin-right: 5px;
  background: url(../img/logomark.svg);
}

.team {
  background-color: #412672;
  padding: 60px 0 100px;
}

.team__title {
  max-width: 400px;
  font-size: 38px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 30px;
}

.team__title strong {
  font-weight: 700;
}

/* !!!перепрошую за FLEX модуль!!! */

.team__list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
}

.team__item {
  padding: 20px;
  background-color: #fff;
  max-width: 376px;
  min-height: 476px;
}

.team__item:hover {
  background-color: #FFBE48;
  box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0.00), 0px 246px 98px 0px rgba(0, 0, 0, 0.01), 0px 138px 83px 0px rgba(0, 0, 0, 0.05), 0px 62px 62px 0px rgba(0, 0, 0, 0.09), 0px 15px 34px 0px rgba(0, 0, 0, 0.10);
}

.team__item>* {
  margin-bottom: 16px;
}

.team__img {
  margin-bottom: 17px;
}

.team__sub-title {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.team__btn {
  color: #FE3F3F;
}

.team__btn:hover {
  text-decoration: underline;
}

.team__item>*:last-child {
  margin-bottom: 0;
}

.offers {
  padding: 55px 0 72px;
}

.offers__inner {
  max-width: 518px;
}

.offers__title {
  color: #412672;
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 20px;
}

.offers__title strong {
  font-weight: 700;
}

.offers__text p {
  color: #412672;
  font-size: 22px;
  margin-bottom: 20px;
}

.offers__item {
  font-size: 20px;
}

.offers__item::before {
  content: "";
  background: url(../img/check.svg);
  height: 29px;
  width: 29px;
  vertical-align: middle;
  margin-right: 15px;
}

.offers__item:not(:last-child) {
  margin-bottom: 18px;
}